*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.hprof
.kotlin

# App signing files
*.jks
*.keystore
*.p12

# Google Services
google-services.json

# Lint
lint/intermediate/
lint/generated/
lint/reports/
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/artifacts/statement_parser_jvm_0_1_0.xml
/.idea/vcs.xml
